@import "../main";
@import "~antd/dist/antd.css";
.ant-layout{
background-color: $white;
}

.header-content-bg{
    height: 300px;
    margin-top: 60px;
    text-align: -webkit-center;
}
.header-content{
    width: 85%;
    height: inherit;
    text-align: start;
    background-color: #E6F7FF;
    padding-top: 5%;
    padding-left: 5%;
    border-radius: 14px;
    .header-content-text{
        width: 300px;
    }
    .header-content-btn{
        padding-top: 1%;
    }
}
.content-tutor-general{
    background-color: #F5F5F5;
}
.header-filter-bg{
    text-align: -webkit-center;
}
.header-filter{
    display: flex;
    width: 85%;
    padding-top: 4%;
}
.header-filter-sort-by{
    display: flex;
    padding-left: 46%
}
.header-filter-result-text{
    font-weight: 500;
    font-size: 18px;
    
}
.header-filter-bar{
    padding-left: 13%;
}
.header-filter-sort-by-text{
    align-self: center;
}
.header-filter-sort-by-select{
    padding-left: 10px;
}
.header-sider{
    display: flex;
}
.header-sider-text{
    font-size: 16px;
    font-weight: 500;
}
.header-sider-reset-btn{
    margin-left: 36%;
}
.select-filter{
    padding-top: 15%;
    .select-filter-text{
        font-weight: 500;
        padding-bottom: 2%;
    }
    .select-filter-opt{
        padding-bottom: 2%;
    }
}
.card-list{
    padding-top: 3%;
    .ant-card-head-title{
        color: $primary;
    }
    .card-list-describe{
        padding-top: 2%;
        width: 70%;
        word-wrap: break-word;
    }
    .card-list-tags{
        padding-top: 2%;
    }
    .card-list-btn{
        padding-top: 2%;
    }
    
}
.pagination{
        padding-top: 3%;
        text-align: -webkit-center;
        padding-bottom: 3%;
    }