@import "../main";
.row-1{
    padding-top: 8%;
    color: $black;
    font-weight: 500;
}
.tt-table-container input {display: none;}

.btn-label{
    background-color: $white;
    color: $black;
    display: flex;
    justify-content: center;
    width: 80px;
    margin-top: 25px;
    margin-left: -15px;
    padding: 6% 0;
    border: 1px solid $primary;
    // border-radius: 7px;
}
.tt-table-container {
    input:checked ~ label{
    background-color: $primary;
        color:$white;
    }
}
.time-table-btn{
    padding-top: 10%;
    margin-left: -5%;
}