@import "../main";
@import "~antd/dist/antd.css";

.body-login {
    text-align: -webkit-center;
    background-color: $grey1;
    padding-top: 180px;
    padding-bottom: 20px;
    height: 100vh;
    .form-login{
        width: 450px;
        background-color: $white;
        border-radius: 12px;
    }
}

